body {
    font-family: sans-serif;
    background-color: #2c3e50;
    color: #333;
}

header {
    background-color: #34495e;
    color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: thick double #32a1ce;;

}

nav {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}

#btn-connect {
    margin-right: auto;
}

#teach-tab {
    display: flex;
    justify-content: space-around;
}

#teach-display, #record-list, #root-check{
    background-color: white;
    margin: 20px;
    padding: 20px;
    min-width: 300px;
}

#auto-tab {
    display: flex;
    justify-content: space-around;
}

#operate-command, #status-display {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

#manual-tab {
    display: flex;
    justify-content: space-around;

}

#manual-display {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

/* すべてのコンテンツを隠す */
.tab-content {
    display: none !important;
}

/* activeがついた時だけ表示する */
.tab-content.active {
    display: flex !important; /* !importantをつけて優先度を最大にする */
    justify-content: space-around;
}
/* アクティブなボタンの色を変えると分かりやすい */
.btn-tab.active {
    background-color: #32a1ce;
    color: white;
}

.record-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.record-item span {
    flex: 1; /* 各項目が均等な幅になるようにする */
    text-align: center;
    white-space: nowrap; /* 文字の折り返しを禁止 */
}


/* 画面幅が狭い時に備えて、リストエリアに最低限の幅を持たせる */
#record-list {
    min-width: 300px; /* 必要に応じて調整 */
}
